/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.p-padding-v-15 {
    padding-bottom: 15px;
    padding-top: 15px
}

.p-margin-v-15 {
    margin-bottom: 15px;
    margin-top: 15px
}

.p-margin-5 {
   margin: 5px;
}

.p-font-bold{
    font-weight:bold;
}

@media (min-width: 1200px) {
    .container-custom {
        width: 640px;
    }
}